<div class="jumbotron center">
	<%= image_tag('/images/header.png') %>
	
	<!--<p>If we're gonna help swimmers all over the world,<br> it's gonna take a while to fill a big enough pool...</p><br>
	<%= link_to "Coming Soon", about_path , class: 'btn btn-default btn-lg' %>-->

</div>