<div class="jumbotron center">
	<h1>Welcome!</h1><br>
	<h2>Oops, just give us a bit longer...</h2><br> <p>If we're gonna help swimmers all over the world,<br> it's gonna take a while to fill a big enough pool...</p><br>
	<%= link_to "Coming Soon", about_path , class: 'btn btn-primary btn-lg' %>

</div>